* {
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
}

form {
    height: 100%;
    width:700px;
}

input {
    height: 50px;
    width:100px;
}
.label {
    height:20px;
}

.btn {
    height:20px;
    width: 100px;
}